@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-purple-base: #7C5DFA;
    --color-purple-light: #9277FF;

    --color-red-base: #EC5757;
    --color-red-light: #FF9797;


    --color-black1: #1E2139;
    --color-black2: #0C0E16;
    --color-black3: #141625;

    --color-light-bg: #888EB0;

}